* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #e9e3e3;
  font-weight: 580;
  background-image: url(/image/Pancakes-order.jpg);
  backdrop-filter: blur(15px);
  background-size: cover;
  background-position: center;
}

.container-header {
  background-color: #26486a;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  box-shadow: inset 2px 2px 2px 2px rgb(144, 23, 16);
}
.container {
  padding: 10vh 50vh 0vh 50vh;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

button {
  width: 12vh;
  height: 6vh;
  background-color: #ae3f5d;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

button:hover {
  background-color: rgb(130, 5, 53);
}

.filter {
  display: flex;
  justify-content: center;
}

#filter {
  width: 25vh;
  height: 6vh;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(137, 100, 77);
  justify-content: center;
}

#sortBtn {
  margin-left: 0.5vh;
  margin-top: 2px;
}
.searchBox {
  display: flex;
  justify-content: center;
  padding: 5px;
}
input {
  font-family: inherit;
  font-size: 1rem;
  width: 50vh;
  height: 5.5vh;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(137, 100, 77);
}
#back {
  margin-left: 0.5vh;
}

select {
  width: 20vh;
  height: 4vh;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.orders {
  width: 50vh;
  min-height: 50vh;
  margin: 30px;
  margin-left: 5vh;
  display: flex;
  flex: 1;
}

ul {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: auto;
}

li {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 40px;
  width: 120vh;
  min-height: 40vh;
  gap: 400px;
  border-left: 5px solid #af0404;
  box-shadow: 0px 8px 10px rgb(204, 4, 4);
  border-radius: 10px;
  padding: 30px;
  position: relative;
  margin-left: 20vh;
}

li p {
  line-height: 3.7vh;
  margin-left: 5vh;
}

.orderStatus-para {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.select-dropdownlist {
  display: inline;
  margin-left: 5vh;
  background-color: rgb(218, 238, 219);
}

.removeBtn {
  margin-top: 2vh;
  margin-left: 5vh;
  display: block;
}

.orderstatus-waiting {
  color: rgb(0, 3, 18);
  background-color: rgb(239, 239, 159);
}

.orderstatus-ready {
  background-color: rgb(132, 176, 215);
  color: #000001;
}

.orderstatus-delivered {
  background-color: rgb(146, 224, 157);
  color: #000001;
}

.pancake-image {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 4s ease-in-out;
  border-radius: 20px;
}

.pancake-image:hover {
  transform: scale(1.1);
}
