body {
  font-family: "Nunito Sans", serif;
  background-color: #f5f1f1;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-size: 1.1rem;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

.image-container {
  position: relative;
  flex: 1;
  min-height: 130vh;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 150vh;
  border-radius: 20px;
}

.form-container {
  flex: 1;
  padding: 50px;
  min-height: 100vh;
  overflow-y: auto;
}
.header-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10vh;
}

#checkOrder {
  width: 16vh;
  height: 8vh;
  background-color: rgb(8, 107, 116);
  cursor: pointer;
}
#checkOrder:hover {
  background-color: rgb(4, 74, 81);
}
.price-banner {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #d17b49;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  margin-top: 15px;
  color: rgb(118, 8, 50);
}

input[type="checkbox"] {
  margin-right: 5px;
  border: 2px solid rgb(174, 71, 3);
  border-radius: 2px;
}
input[type="radio"] {
  border: 2px solid rgb(174, 71, 3);
}

select,
label {
  display: block;
  margin-top: 10px;
}

button {
  border-radius: 7px;
  width: 15vh;
  height: 7vh;
  background-color: rgb(8, 107, 116);
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}
button:hover {
  background-color: rgb(4, 74, 81);
}

#confirmOrder {
  margin-left: 2vh;
  width: 17vh;
}
h2 {
  color: rgb(105, 7, 36);
}

.orderdisplay {
  width: 70vh;
  min-height: 32vh;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgb(195, 88, 21);
  border-left: 5px solid rgb(212, 82, 38);
  position: relative;
  font-size: 1.2rem;
}

.orderdisplay > p {
  position: absolute;
  display: flex;
  margin-top: 3vh;
  margin-left: 3vh;
}

#customerName {
  width: 20vh;
  height: 2.5vh;
  border-radius: 4px;
  border: 2px solid rgb(127, 80, 5);
}

select {
  width: 16vh;
  height: 3vh;
  border-radius: 4px;
  border: 2px solid rgb(127, 80, 5);
}

@keyframes colorChange {
  0% {
    background-color: #d17b49;
  }
  25% {
    background-color: #b75f2c;
  }
  50% {
    background-color: rgb(11, 130, 134);
  }
  75% {
    background-color: rgb(8, 139, 63);
  }
  100% {
    background-color: rgb(9, 106, 9);
  }
}

.price-banner {
  animation: colorChange 5s ease infinite;
}

.confirmButton {
  display: none;
}
